##############################
## Planning                 ##
##############################
/planning/

##############################
## clangd                   ##
##############################
.[Cc][Aa][Cc][Hh][Ee]/
.[Cc][Ll][Aa][Nn][Gg][Dd]/
# Track .clangd config, ignore generated compile_commands.json
compile_commands.json

##############################
## cmake                    ##
##############################
[Bb][Uu][Ii][Ll][Dd]/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

##############################
## Build Artifacts          ##
##############################
*.o
*.a
*.elf
*.bin
*.iso
*.img
*.map

##############################
## Visual Studio 💩         ##
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/
